#wrapper > * > .inner {
  padding: 0 0 0 0;
}

.inner p {
    margin-bottom: 1em !important;
}

.inner li:nth-child(5) {
  margin-bottom: 1em;
}


#one > div > h1 {
  margin-bottom: 0.2em;
}


#one > div {
  padding-top: 2em !important;
}
